  .txn-page-content {
    .mname {
      font-size: 1.8rem;
      padding-top: 7px;
      line-height: 1;
      color: #298f98;
      margin-bottom: 0;
    }
    .tid {
      font-size: 1.3rem;
      margin: 5px auto;
    }
  }
  .txn_label {
    font-size: 1rem;
    color: #49cad5;
  }
  .txn_amnt {
    font-size: 2.2rem;
    padding: 2px;
    color: #FF4500;
  }
  