.coupon-card {
    box-shadow: 0px 0px 3px 1px #ccc;
    border-radius: 7px;
}
.coupon-card-img {
    width: 45%;
    margin: auto;
    border-radius: 50%;
}
.coupon-qr-img {
    width: 60%;
    margin: auto;
}