.signup-btn {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    color: #cfd0d2;
    a {
        text-decoration: none;
        text-transform: uppercase;
        // font-weight: 700;
        color: #cfd0d2;
    }
}
.login-box {
    .list-md[inset] {
        .item:last-child {
            display: none;
        }
    }
}
