.tabs-ios {
    .tab-button { 
        font-size: 8px;
    }
}
.tabs-md {
    .tab-button-text{
        font-size: 8px;
    }
}
.tabs-md-primary .tab-button:hover:not(.disable-hover), .tabs-md-primary .tab-button[aria-selected=true], .tabs-md-primary .tab-button[aria-selected=true] .tab-button-icon{
    background:#d0ab1f;
  }
  .toolbar-md-primary .toolbar-background-md{

  }
  .tra_img{
      height: 100px;
  }
  .centex{
      text-align: center;
  }

  .col {
    // border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    text-align: center
    // border: 1px solid;
  }
  .trans_am{
    background: #8b5757;
  }
  .trans_date{
    background: #894e4e;
  }
  .trans_type{
    background:#995d5d;
  }
  
//   .col:last-child {
//     border-right: solid 1px grey;
//   }
  
//   .row:last-child .col {
//     border-bottom: solid 1px grey;
//   }