  <ion-header>
      <ion-navbar color="primary">
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>
            Evens
          </ion-title>
        </ion-navbar>
  </ion-header>
  <ion-content >
        <div padding > 
          <div *ngIf="selectedCur == 'Etheriun'">
              <div class="centex">
                  <img class="tra_img" src="assets/imgs/icons8-ethereum-100.png">
              </div>
              <div  class="centex"> 
                <h1>Etherium</h1>
              </div>
              <div class="wal-amount row" text-center>
                <div class="col"><span class="strong">Balance :<br></span> {{selectedAccount.balance  | number:'.3' }} ETH</div>
                <div class="v-div"></div>
                <div class="col"><span class="strong">Price :<br></span> {{1 / todayPrice.ETH | number:'.3'}} USD</div>
              </div>
              <div>
                <h4 text-center>Recent Activity</h4>
                <ng-container >
                  <ion-card class="tran_card" >
                     
                        <div class="row header trans_date txn-data">
                          <div class="col"><span class="strong">Date</span></div>
                          <div class="col" text-right><span class="strong">Amount</span></div>
                          <div class="col" text-left><span class="strong">Type</span></div>
                        </div>

                        <div class="row header trans_am txn-data" *ngFor="let trans of ethTransaction" (click)="OpenUrl(trans.link)">
                            <div class="col">{{trans.date}}</div>
                            <div class="col" text-right>{{trans.amount | number:'.3'}}</div>
                            <div class="col" text-left>{{trans.mode}}</div>
                        </div>

                  </ion-card>
                
                </ng-container>
          
                <!-- <ion-list>
                    <ion-card *ngFor="let trans of ethTransaction"  class="card_trans">
                    <ion-item (click)="OpenUrl(trans.link)"> 
                        <p class="fontWhite">{{trans.amount | number}}</p>
                        <p class="fontWhite">{{trans.date}}</p>
                        <p class="fontWhite"> {{trans.mode}}</p>
                        <p class="fontWhite">{{trans.status}}</p>
                        <p class="fontWhite">{{trans.receipt}}</p>
                       </ion-item>
                       </ion-card>
                </ion-list> -->
              </div>
          </div>
          <div *ngIf="selectedCur == 'evenscoin'">
              <div class="centex">
                  <img class="tra_img" src="assets/imgs/evens.png">
              </div>
              <div  class="centex">
                <h1> Evens </h1>
              </div>
              <div class="wal-amount row" text-center>
                <div class="col"><span class="strong">Balance :<br></span> {{selectedAccount.balance  | number:'.3' }} ENS</div>
                <div class="v-div"></div>
                <div class="col"><span class="strong">Price :<br></span> {{1 / todayPrice.BTT | number:'.3'}} USD</div>
              </div>
              <div>
                <h4 text-center>Recent Activity</h4>
                <ng-container  >
                    <ion-card class="tran_card" >
                       
                      <div class="row header trans_date txn-data" >
                        <div class="col"><span class="strong">Date</span></div>
                        <div class="col" text-right><span class="strong">Amount</span></div>
                        <div class="col" text-left><span class="strong">Type</span></div>
                      </div>

                      <div class="row header trans_am txn-data" *ngFor="let trans of ethTransaction" (click)="OpenUrl(trans.link)">
                        <div class="col">{{trans.date}}</div>
                        <div class="col" text-right>{{trans.amount | number:'.3'}}</div>
                        <div class="col" text-left>{{trans.mode}}</div>
                      </div>

                    </ion-card>
                  
                  </ng-container>
              </div>
          </div>
          <div *ngIf="selectedCur == 'tokenOne'">
            <div class="centex">
                <img class="tra_img" src="assets/imgs/icons8-rupee-100.png">
            </div>
            <div  class="centex">
              <h1>{{selectedAccount.tokenOneSym}}</h1>
            </div>
            <div class="wal-amount row" text-center>
              <div class="col"><span class="strong">Balance :<br></span> {{selectedAccount.balance  | number:'.3' }} {{selectedAccount.tokenOneSym}}</div>
              <div class="v-div"></div>
              <div class="col"><span class="strong">Price :<br></span> {{1 / todayPrice.INR | number:'.3'}} USD</div>
            </div>
            <div>
              <h4 text-center>Recent Activity</h4>
              <ng-container>
                  <ion-card class="tran_card" (click)="OpenUrl(trans.link)">
                    
                    <div class="row header trans_date txn-data">
                      <div class="col"><span class="strong">Date</span></div>
                      <div class="col" text-right><span class="strong">Amount</span></div>
                      <div class="col" text-left><span class="strong">Type</span></div>
                    </div>

                    <div class="row header trans_am txn-data" *ngFor="let trans of ethTransaction">
                      <div class="col">{{trans.date}}</div>
                      <div class="col" text-right>{{trans.amount | number:'.3'}}</div>
                      <div class="col" text-left>{{trans.mode}}</div>
                    </div>

                  </ion-card>
                
                </ng-container>
            </div>
        </div>
        <div *ngIf="selectedCur == 'tokenTwo'">
          <div class="centex">
              <img class="tra_img" src="assets/imgs/icons8-bitcoin-100.png">
          </div>
          <div  class="centex">
            <h1>{{selectedAccount.tokenTwoSym}}</h1>
          </div>
          <div class="wal-amount row" text-center>
            <div class="col"><span class="strong">Balance :<br></span> {{selectedAccount.balance  | number:'.3' }} {{selectedAccount.tokenTwoSym}}</div>
            <div class="v-div"></div>
            <div class="col"><span class="strong">Price :<br></span> {{1 / todayPrice.THB| number:'.3'}} USD</div>
          </div>
          <div>
            <h4 text-center>Recent Activity</h4>
            <ng-container>
                <ion-card class="tran_card" (click)="OpenUrl(trans.link)">
                   
                  <div class="row header trans_date txn-data">
                    <div class="col"><span class="strong">Date</span></div>
                    <div class="col" text-right><span class="strong">Amount</span></div>
                    <div class="col" text-left><span class="strong">Type</span></div>
                  </div>

                  <div class="row header trans_am txn-data" *ngFor="let trans of ethTransaction">
                    <div class="col">{{trans.date}}</div>
                    <div class="col" text-right>{{trans.amount | number: '.3'}}</div>
                    <div class="col" text-left>{{trans.mode}}</div>
                  </div>

                </ion-card>
              
              </ng-container>
          </div>
      </div>
      <div *ngIf="selectedCur == 'tokenThree'">
        <div class="centex">
            <img class="tra_img" src="assets/imgs/icons8-won-100.png">
        </div>
        <div  class="centex">
          <h1>{{selectedAccount.tokenThreeSym}}</h1>
        </div>
        <div class="wal-amount row" text-center>
          <div class="col"><span class="strong">Balance :<br></span> {{selectedAccount.balance  | number: '.3' }} {{selectedAccount.tokenThreeSym}}</div>
          <div class="v-div"></div>
          <div class="col"><span class="strong">Price :<br></span> {{1 / todayPrice.KRW| number: '.3'}} USD</div>
        </div>
        <div>
          <h4 text-center>Recent Activity</h4>
          <ng-container >
              <ion-card class="tran_card" (click)="OpenUrl(trans.link)">
                 
                <div class="row header trans_date txn-data">
                  <div class="col"><span class="strong">Date</span></div>
                  <div class="col" text-right><span class="strong">Amount</span></div>
                  <div class="col" text-left><span class="strong">Type</span></div>
                </div>

                <div class="row header trans_am txn-data" *ngFor="let trans of ethTransaction" >
                  <div class="col">{{trans.date}}</div>
                  <div class="col" text-right>{{trans.amount | number:'.3'}}</div>
                  <div class="col" text-left>{{trans.mode}}</div>
                </div>   

              </ion-card>
            
            </ng-container>
        </div>
    </div>
            
        </div>
  </ion-content>
  