<ion-header class="ion-header">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Evens</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div padding>
    <div>
      <img *ngIf="selectedCur == 'Etheriun'" class="static_icon" src="assets/imgs/eth.png">
      <img *ngIf="selectedCur == 'evenscoin'" class="static_icon" src="assets/imgs/evens.png">
      <img *ngIf="selectedCur == 'tokenOne'" class="static_icon" src="assets/imgs/icons8-rupee-40.png">
      <img *ngIf="selectedCur == 'tokenThree'" class="static_icon" src="assets/imgs/icons8-won-40.png">
      <img *ngIf="selectedCur == 'tokenTwo'" class="static_icon" src="assets/imgs/icons8-bitcoin-40.png">
    </div>
    <p class="sendtitle">SEND</p>
    <div>
      <form #form="ngForm" (ngSubmit)="transferAmount(form)" novalidate>
        <ion-item>
          <ion-label floating>AMOUNT</ion-label>
          <ion-input type="number" (blur)="checkbalance(transfer.amount);" required name="amount" [(ngModel)]="transfer.amount" ngControl="amount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>TRANSFER TO</ion-label>
          <ion-input #focusInput type="text" (blur)="checkAddress(transfer.address);" name="address" required [(ngModel)]="transfer.address" ngControl="address"></ion-input>
        </ion-item>
        <button ion-button round type="button" (click)="scanQr()"> Scan QR </button>
        <button ion-button round type="button" (click)="addListenNFC()"> Read NFC </button>
        <button ion-button [disabled]="form.invalid" type="submit" block round>Transfer</button>
      </form>
    </div>
    <div style="margin-top: 10%;">
      <p>
        <span>ADDRESS</span>
        <br>
        <span class="ow_address">
          {{account.address}}
        </span>
      </p>
      <p>
        <span>BALANCE</span>
        <br>
        <span>
          {{account.balance | number:'.3'}}
          <span *ngIf="selectedCur == 'Etheriun'">
            ETH
          </span>
          <span *ngIf="selectedCur == 'evenscoin'">
            ENS
          </span>
          <span *ngIf="selectedCur == 'tokenOne'">
            {{account.tokenOneSym}}
          </span>
          <span *ngIf="selectedCur == 'tokenTwo'">
            {{account.tokenTwoSym}}
          </span>
          <span *ngIf="selectedCur == 'tokenThree'">
            {{account.tokenThreeSym}}
          </span>
        </span>
      </p>
    </div>
    <div>

    </div>
  </div>


</ion-content>