<ion-header>
    <ion-navbar color='primary'>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          Evens
        </ion-title>
      </ion-navbar>
</ion-header>
<ion-content>
      <!-- <div *ngIf="selectedCur == 'tokenOne'">
          <div class="centex">
              <img class="tra_img" src="assets/imgs/icons8-rupee-100.png">
          </div>
          <div  class="centex">
            <h1>{{selectedAccount.tokenOneSym}}</h1>
          </div>
       </div>

       <div *ngIf="selectedCur == 'tokenTwo'">
          <div class="centex">
              <img class="tra_img" src="assets/imgs/icons8-bitcoin-100.png">
          </div>
          <div  class="centex">
            <h1>{{selectedAccount.tokenTwoSym}}</h1>
          </div>
       </div>

       <div *ngIf="selectedCur == 'tokenThree'">
          <div class="centex">
              <img class="tra_img" src="assets/imgs/icons8-won-100.png">
          </div>
          <div  class="centex">
            <h1>{{selectedAccount.tokenThreeSym}}</h1>
          </div>
       </div>

       <form #form="ngForm" novalidate>
          <ion-item>
            <ion-label floating>Amount</ion-label>
            <ion-input type="number" required name="amount" [(ngModel)]="amount" ></ion-input>
          </ion-item>
          <button ion-button full>140  Pay With ETH </button>
          <button ion-button full> Pay With ENS </button>
          </form> -->

</ion-content>
