<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Add Gift Card
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
        <div class="qr-scanner" padding>
            <ion-label stacked>Scan your card on Enter card number</ion-label>
            <img src='../../assets/imgs/qr.png'>
        </div>
        <ion-item>
            <ion-label stacked>Gift Card Number</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label stacked>Merchant Name</ion-label>
          <ion-input disabled="true" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="preload">
          <ion-label stacked>Preload Amount</ion-label>
          <ion-input disabled="true" type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="freeform || crossborder">
          <ion-label stacked>Min Amount</ion-label>
          <ion-input disabled="true" type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="freeform || crossborder">
          <ion-label stacked>Max Amount</ion-label>
          <ion-input disabled="true" type="number"></ion-input>
        </ion-item>
    </ion-list>
    <div padding>
      <button ion-button color="primary" block>Add card</button>
    </div>
  </ion-content>