<ion-menu [content]='content'>

    <ion-header>
        <ion-toolbar class="user-bg">
            <!-- <ion-title>Menu</ion-title> -->
            <ion-list class="user-detail">
                <ion-item no-lines  (click)="goToprofile()">
                        <div *ngIf="showQr" class="qr_code">
                                <!-- <div class="qr_text" ></div> -->
                                <ngx-qrcode [qrc-value]="user.address"></ngx-qrcode>
                                <p>{{user.address}}</p>
                                
                        </div>
                    <!-- <ion-thumbnail  class="avabor" item-start>
                    <img class="user-img" src="assets/imgs/user-defalut.png">
                    </ion-thumbnail> -->
                </ion-item>
                <ion-item no-lines >
                        <h2 text-center>{{ user.firstName}} {{user.lastName}}</h2>
                </ion-item>
            </ion-list>
        </ion-toolbar>
    </ion-header>
    <ion-content class="side_bar">
        <ion-item-group class="ltpad">
               <ion-item no-lines *ngFor='let p of pages' class="sidemenu_item dashed_lth " >
                    <ion-icon class="icon_colr" [name]="p.icon" item-start></ion-icon>
                    <button ion-item  class="menu_item lemenu"   (click)="openPage(p)">
                            {{p.title}}
                        </button>
               </ion-item>
                    <!-- <ion-item-divider color="primary">Smart Service</ion-item-divider> -->
            <p class="ver"> Ver  <span>0.1.0</span></p>
        </ion-item-group>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
