// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app..

.user-bg {
    .toolbar-background {
        background: #1e2329;
        background-size: cover;
        border:none;
    }
}
.user-img{
 border-radius: 50%;
}
.avabor {
    width: 88px;
    margin: auto 27% !important;
    border: 4px solid white;
    border-radius: 48%;
}

.avabor_profile {
    width: 88px;
    margin: auto !important;
    border: 4px solid white;
    border-radius: 48%;
}
.item-ios {
    ion-thumbnail.avabor {
        width: 64px;
    }
}
.user-detail.list-md {
    margin: 0;
}
.user-detail.list {
    .item {
        background: transparent;
    }
}
.user-detail {
    ion-item {
        h2{
            color: #ffffff;
            font-size: 1.8rem;
            overflow: inherit;
            text-overflow: inherit;
        }
        p{
            color:rgba(255,255,255,0.8);
        }
        button {
            ion-icon {
                font-size: 2rem;
                color: #ffffff;
            }
        }
    }
}
.title{
    width: 100%;
    h1{
        text-align: center;
    }
}
.copyright {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    p {
        color: #aaaaaa;
    }
}

.home-cat-menu {
    padding-left: 0;
    .label {
        margin: 0px;
        width: 100%;
        .cat-menu-col.col {
            text-align: center;
            border: 1px solid #dedede;
        }
    }
    .item-inner {
        padding-right:0 !important;
    }   
}
.side_bar{
    background: #1e2329 !important;
    color:white !important;
}
.menu_item{
    color: white !important;
}
.icon_colr{
    color: white !important;
}
.item-md{
    color: white
}
.menu_item.activated{
    background: none !important;
}

.sidemenu_item:hover{
    background: #ec455f;
}
.strong {
    font-weight: 600;
    font-size: 17px;
}
.wal-amount{
    padding-bottom: 20px;
}
.v-div {
    width: 2px;
    height: auto;
    background: #FFF;
}
.toolbar-md-primary {
    .toolbar-background-md{
        background:transparent
      }
}
.tabs-md-primary {
    .tabbar{
        background-color:transparent;
        box-shadow: None;
      }
}
.toolbar-ios-primary {
    .toolbar-background-ios{
        background:transparent
      }
}
.tabs-ios-primary {
    .tabbar{
        background-color:transparent;
        border: none;
    }
}
.tabs-md-primary .tab-button:hover:not(.disable-hover), .tabs-md-primary .tab-button[aria-selected=true], .tabs-md-primary .tab-button[aria-selected=true] .tab-button-icon {
    background: #fff !important;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    color: #666;
}
.tabs-ios-primary .tab-button:hover:not(.disable-hover), .tabs-ios-primary .tab-button[aria-selected=true], .tabs-ios-primary .tab-button[aria-selected=true] .tab-button-icon {
    background: #fff !important;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    color: #666;
}
.profile-item p {
    color: #dddddd;
    padding-top: 5px;
}