// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app..
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');


.user-bg {
    .toolbar-background {
        background: #1e2329;
        background-size: cover;
        border:none;
    }
}
.user-img{
 border-radius: 50%;
}
.avabor {
    width: 88px;
    margin: auto 27% !important;
    border: 4px solid white;
    border-radius: 48%;
}

.avabor_profile {
    width: 88px;
    margin: auto !important;
    border: 4px solid white;
    border-radius: 48%;
}
.item-ios {
    ion-thumbnail.avabor {
        width: 64px;
    }
}
.user-detail.list-md {
    margin: 0;
    background-color: #ec2c53;
}
.user-detail.list {
    .item {
        background: transparent;
    }
}
.user-detail {
    ion-item {
        h2{
            color: #ffffff;
            font-size: 1.8rem;
            overflow: inherit;
            text-overflow: inherit;
        }
        p{
            color:rgba(255,255,255,0.8);
        }
        button {
            ion-icon {
                font-size: 2rem;
                color: #ffffff;
            }
        }
    }
}
.title{
    width: 100%;
    h1{
        text-align: center;
    }
}
.copyright {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    p {
        color: #aaaaaa;
    }
}

.home-cat-menu {
    padding-left: 0;
    .label {
        margin: 0px;
        width: 100%;
        .cat-menu-col.col {
            text-align: center;
            border: 1px solid #dedede;
        }
    }
    .item-inner {
        padding-right:0 !important;
    }   
}
.side_bar{
    background: #1e2329 !important;
    color:white !important;
}
.menu_item{
    color: #fff !important;
    font-size: 1.2rem !important;
 
}
.icon_colr{
    color: #ec2c53 !important;
}
.item-md{
    color: white;
    font-size: 1.3rem;
}
.menu_item.activated{
    background: none !important;
}

.sidemenu_item:hover{
    background: #ec455f;
}
.strong {
    font-weight: 600;
    font-size: 17px;
}
.wal-amount{
   background: linear-gradient(to top, #323743, #2b2f39);
   text-align: center;
   width: 100%;
   height: 70px;
   margin-left: auto;
   margin-right: auto;
   line-height: 200%;
   border-color: #161616;

}
.v-div {
    width: 2px;
    height: auto;
    background: #454850;
}
.toolbar-md-primary {
    .toolbar-background-md{
        background-color: #e62b50;
      }
}
.tabs-md-primary {
    .tabbar{
        background-color:white;
        box-shadow: None;
      }
}
.toolbar-ios-primary {
    .toolbar-background-ios{
        background-color: #e62b50;
      }
}
.tabs-ios-primary {
    .tabbar{
        background-color:white;
        border: none;
    }
}
.tabs-md-primary .tab-button:hover:not(.disable-hover), .tabs-md-primary .tab-button[aria-selected=true], .tabs-md-primary .tab-button[aria-selected=true] .tab-button-icon {
    
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    color: #ed2c53;
}
.tabs-ios-primary .tab-button:hover:not(.disable-hover), .tabs-ios-primary .tab-button[aria-selected=true], .tabs-ios-primary .tab-button[aria-selected=true] .tab-button-icon {
   
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    color: #ed2c53;
}
.profile-item p {
    color: #dddddd;
    padding-top: 5px;
}

.ver {
    float: right;
    padding: 10px;

}
.ver span {
    margin-left: 5px 
}
.bal{
    color:#ed2c53;
}
.top{
    padding-top: 3%;
}
.recent{
    top: 59%;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 7%;
    background-color: white;
    color: #1e242f;
    position: absolute;
    display: block;
    overflow: auto;
}
.txs{
    line-height: 0%;
    position: absolute;
    left: 0 px;
    padding-left: 0%;
}
.pos{
    color: #2f2f2f;
    text-transform: uppercase;
    position: absolute;
    right: 17px;
    height: 60px;
    padding-left: 8px;
}
.date{
    color:#2f2f2f;
    top:0;
}
.pad{
    background-color: #f2f2f2;
    height: 60px;
}
.dashed_lth {
    border-bottom: 1px dashed #979797 !important;
}
.ltpad {
    padding-left: 20px;
    padding-right: 20px;
}
.dashed_lth .item-inner {
    margin-left:0px !important;
} 
.dashed_lth .label-md{
    margin: 8px 8px 8px 0 !important;
}
// .pat{
//     text-align:left;
// }
