.coinimg{
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: 13%;
}
.card_trans{
    background: transparent;
    color: white;
    height: 70px;
    border-bottom: 1px solid #bbb;
    box-shadow: none;
}
.card_trans:first-child {
    border-top: 1px solid #fff;
}
.card_trans:last-child {
    border-bottom: none;
}
.card_trans .item-md ion-thumbnail {
    min-width: 45px;
    min-height: 30px;
}
.card_trans h3 {
    font-size: 14px !important;
}
.fontWhite{
    color: white !important
}
.wallat_main{
    min-height: 150px;
    text-align: center;
    background: transparent; 
    box-shadow: none;
}

.mywalletTxt{
    color: white !important;
    font-size: 8vw !important;
}

.wall_amount{
    margin-top: 4px;
    color: white !important;
    font-size: 5vw !important;
}

.wall_txt_cen {
    position: relative;
    top: 65px;
}

.item_text{
    margin: 10px 0px 0px 0 !important;;
    font-size: 3vw !important;
    text-align: center;
}