page-notifications {
    .content-md {
        background: transparent !important;
    }
}
page-topup {
    .content-md {
        background: transparent !important;
    }
    .tophead {
        background: black;
    }
}

.rmpad {
    padding: 0px !important;
}

.coinimg{
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top:0
}
.card_trans{
    background: #ffffff transparent;
    color: white;
    height: 65px;
   
  position: relative;
box-shadow:0px;
box-sizing: content-box;    

}
.card_trans:nth-child(odd) {
   
    background: #f2f2f2;
  
    margin-bottom:0px;
  
}
.card_trans:nth-child(even) {
  
    background:#ffffff;
    margin-bottom:0px;
    


}
.card_trans:first-child {
    border-top:0px
   
}
.card_trans:last-child {
    border-bottom: none;

}
.card_trans .item-md ion-thumbnail {
    min-width: 45px;
    min-height: 30px;
}
.card_trans h3 {
    font-size: 14px !important;
}

.fontWhite{
    color: #2f2f2f !important;
    text-align:left;
    
}
.wallat_main{
    min-height:265px;
    text-align: center;
    background:#000; 
    width:100%;
    padding-left:0px;
    margin-left:0px;
   margin-top:0px;
}

.mywalletTxt{
    color: white !important;
    font-size: 8vw !important;
}

.wall_amount{
    margin-top: 4px;
    color: white !important;
    font-size: 5vw !important;
}

.wall_txt_cen {
    position: relative;
}

.item_text{
    margin: 10px 0px 0px 0 !important;;
    font-size: 3vw !important;
    text-align: center;
}
.wallat{
    background:#e62b50;
}
.hello{
    text-align:left;
    font-family: "Montserrat / Light";
  
    font-size:12px;
 
   


}
.trans{
    background-color: white;
    position: fixed;
    top: 45%;
    left: 0px;
    bottom: -6%;
    right: 0px;
    overflow:auto
  
}
.cad{
    background:#fff;
    padding-top:0px;
    padding-bottom:3px;
    padding-left:0px;
}
.car{
    background: #000;
}