  <ion-header>
        <ion-navbar color="primary">
                <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
                </button>
                <ion-title>
                  Evens
                </ion-title>
              </ion-navbar>
  </ion-header>
  <ion-content >
        <div padding>
            <div >
                    <img *ngIf="selectedCur == 'Etheriun'" class="static_icon" src="assets/imgs/eth.png">
                    <img *ngIf="selectedCur == 'evenscoin'" class="static_icon" src="assets/imgs/evens.png">
                    <img *ngIf="selectedCur == 'tokenOne'" class="static_icon" src="assets/imgs/usd.png">
                    <img *ngIf="selectedCur == 'tokenThree'" class="static_icon" src="assets/imgs/kye.png">
                    <img *ngIf="selectedCur == 'tokenTwo'" class="static_icon" src="assets/imgs/thai.png">
            </div>
                <div *ngIf="showQr" class="adddiv">
         
                    </div>
                  <div *ngIf="showQr" class="qr_code">
                      <div class="qr_text" >QR CODE</div>
                      <ngx-qrcode [qrc-value]="account.address"></ngx-qrcode>
                      
                  </div>
                  <div *ngIf="showQr" class="adddiv">
                      <span class="ow_address">{{account.address}}</span>
                  </div>
                  <ion-list *ngIf="selectedCur == 'Etheriun'">
                      <ion-card class="card_trans">
                              <ion-item  >  
                                 <div class="texc">
                                    <h2   class="fontWhite">{{account.balance | number: '.3'}} ETH</h2>
                                    <p class="fontWhite baltxt1">1 ETH = {{ 1 / todayPrice.ETH | number}} USD</p>
                                 </div>
                                      
                                      <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                  </ion-item>
                      </ion-card>
                      <ion-card class="card_trans">
                              <ion-item >
                                  <div class="texc">
                                      <h2 class="fontWhite qr_textitem">{{ account.balance / todayPrice.ETH | number:'.3' }} USD</h2>
                                      </div>
                                  </ion-item>
                      </ion-card>
                      
              
                  </ion-list>
                  <ion-list *ngIf="selectedCur == 'evenscoin'">
                        <ion-card class="card_trans">
                                <ion-item  >  
                                   <div class="texc">
                                      <h2   class="fontWhite">{{account.balance | number}} ENS</h2>
                                      <p class="fontWhite baltxt1">1 ENS = {{ 1 / todayPrice.BTT | number: '.3'}} USD</p>
                                   </div>
                                        
                                        <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                    </ion-item>
                        </ion-card>
                        <ion-card class="card_trans">
                                <ion-item >
                                    <div class="texc">
                                        <h2 class="fontWhite qr_textitem">{{ account.balance / todayPrice.BTT | number: '.3' }} USD</h2>
                                        </div>
                                    </ion-item>
                        </ion-card>
                        
                
                    </ion-list>
                    <ion-list *ngIf="selectedCur == 'tokenOne'">
                        <ion-card class="card_trans">
                                <ion-item  >  
                                   <div class="texc">
                                      <h2   class="fontWhite">{{account.balance | number: '.3'}} {{account.tokenOneSym}}</h2>
                                      <p class="fontWhite baltxt1">1 {{account.tokenOneSym}} = {{ 1 / todayPrice.INR | number: '.3'}} USD</p>
                                   </div>
                                        
                                        <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                    </ion-item>
                        </ion-card>
                        <ion-card class="card_trans">
                                <ion-item >
                                    <div class="texc">
                                        <h2 class="fontWhite qr_textitem">{{ account.balance / todayPrice.INR | number: '.3' }} USD</h2>
                                        </div>
                                    </ion-item>
                        </ion-card>
                        
                
                    </ion-list>
                    <ion-list *ngIf="selectedCur == 'tokenTwo'">
                        <ion-card class="card_trans">
                                <ion-item  >  
                                   <div class="texc">
                                      <h2   class="fontWhite">{{account.balance | number:'.3'}} {{account.tokenTwoSym}}</h2>
                                      <p class="fontWhite baltxt1">1 {{account.tokenTwoSym}} = {{ 1 / todayPrice.THB | number: '.3'}} USD</p>
                                   </div>
                                        
                                        <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                    </ion-item>
                        </ion-card>
                        <ion-card class="card_trans">
                                <ion-item >
                                    <div class="texc">
                                        <h2 class="fontWhite qr_textitem">{{ account.balance / todayPrice.THB | number: '.3' }} USD</h2>
                                        </div>
                                    </ion-item>
                        </ion-card>
                        
                
                    </ion-list>
                    <ion-list *ngIf="selectedCur == 'tokenThree'">
                        <ion-card class="card_trans">
                                <ion-item  >  
                                   <div class="texc">
                                      <h2   class="fontWhite">{{account.balance | number: '.3'}} {{account.tokenThreeSym}}</h2>
                                      <p class="fontWhite baltxt1">1 {{account.tokenThreeSym}} = {{ 1 / todayPrice.KRW | number: '.3'}} USD</p>
                                   </div>
                                        
                                        <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                    </ion-item>
                        </ion-card>
                        <ion-card class="card_trans">
                                <ion-item >
                                    <div class="texc">
                                        <h2 class="fontWhite qr_textitem">{{ account.balance / todayPrice.KRW | number: '.3' }} USD</h2>
                                        </div>
                                    </ion-item>
                        </ion-card>
                        
                
                    </ion-list>
        </div>

  </ion-content>
  

  