  <ion-header class="ion-header">
        <ion-navbar color="primary">
                <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
                </button>
                <ion-title>
                  Evens
                </ion-title>
              </ion-navbar>
  </ion-header>
  <ion-content >
        <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="Pull to refresh"
                  refreshingSpinner="circles"
                  refreshingText="Refreshing...">
                </ion-refresher-content>
              </ion-refresher>
        <div padding>
            <div >
                <img *ngIf="selectedCur == 'Etheriun'" class="static_icon" src="assets/imgs/ethw-40.png">
                <img *ngIf="selectedCur == 'evenscoin'" class="static_icon" src="assets/imgs/evensw-40.png">
                <img *ngIf="selectedCur == 'tokenOne'" class="static_icon" src="assets/imgs/tk1w-40.png">
                <img *ngIf="selectedCur == 'tokenThree'" class="static_icon" src="assets/imgs/tk3w-40.png">
                <img *ngIf="selectedCur == 'tokenTwo'" class="static_icon" src="assets/imgs/tk2w-40.png">
                <img *ngIf="selectedCur == 'tokenFour'" class="static_icon" src="assets/imgs/tk4w-40.png">
            </div>
                <div *ngIf="showQr" class="adddiv">
         
                    </div>
                  <div *ngIf="showQr" class="qr_code">
                      <div class="qr_text" >QR CODE</div>
                      <ngx-qrcode [qrc-value]="account.address"></ngx-qrcode>
                      
                  </div>
                  <div *ngIf="showQr" class="adddiv">
                      <span class="ow_address">{{account.address}}</span>
                  </div>
                  <ion-list class="" *ngIf="selectedCur == 'Etheriun'">
                      <ion-card class="card_tran">
                              <ion-item  >  
                                 <div class="texc">
                                    <h2  class="balance">{{account.balance | number: '.3'}} ETH</h2>
                                    <p class="colo  baltxt1">1 ETH = {{ 1 / todayPrice.ETH | number}} USD</p>
                                 </div>
                                      
                                      <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                  </ion-item>
                      </ion-card>
                      <ion-card class="card_tran">
                              <ion-item >
                                  <div class="texc">
                                      <h2 class="balance qr_textitem">{{ account.balance / todayPrice.ETH | number:'.3' }} USD</h2>
                                      </div>
                                  </ion-item>
                      </ion-card>
                      
              
                  </ion-list>
                  <ion-list *ngIf="selectedCur == 'evenscoin'">
                        <ion-card class="card_tran">
                                <ion-item  >  
                                   <div class="texc">
                                      <h2   class="balance">{{account.balance | number}} ENS</h2>
                                      <p class="colo  baltxt1"></p>
                                   </div>
                                        
                                        <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                    </ion-item>
                        </ion-card>
                        <ion-card class="card_tran">
                                <ion-item >
                                    <div class="texc">
                                        <h2 class="balance qr_textitem">N.A</h2>
                                        </div>
                                    </ion-item>
                        </ion-card>
                        
                
                    </ion-list>
                    <ion-list *ngIf="selectedCur == 'tokenOne'">
                        <ion-card class="card_tran">
                                <ion-item  >  
                                   <div class="texc">
                                      <h2   class="balance">{{account.balance | number: '.3'}} {{account.tokenOneSym}}</h2>
                                      <p class="colo  baltxt1">1 {{account.tokenOneSym}} = {{ 1 / todayPrice.INR | number: '.3'}} USD</p>
                                   </div>
                                        
                                        <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                    </ion-item>
                        </ion-card>
                        <ion-card class="card_tran">
                                <ion-item >
                                    <div class="texc">
                                        <h2 class="balance qr_textitem">{{ account.balance / todayPrice.INR | number: '.3' }} USD</h2>
                                        </div>
                                    </ion-item>
                        </ion-card>
                        
                
                    </ion-list>
                    <ion-list *ngIf="selectedCur == 'tokenTwo'">
                        <ion-card class="card_tran">
                                <ion-item  >  
                                   <div class="texc">
                                      <h2   class="balance">{{account.balance | number:'.3'}} {{account.tokenTwoSym}}</h2>
                                      <p class="colo  baltxt1">1 {{account.tokenTwoSym}} = {{ 1 / todayPrice.THB | number: '.3'}} USD</p>
                                   </div>
                                        
                                        <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                    </ion-item>
                        </ion-card>
                        <ion-card class="card_tran">
                                <ion-item >
                                    <div class="texc">
                                        <h2 class="balance qr_textitem">{{ account.balance / todayPrice.THB | number: '.3' }} USD</h2>
                                        </div>
                                    </ion-item>
                        </ion-card>
                        
                
                    </ion-list>
                    <ion-list *ngIf="selectedCur == 'tokenThree'">
                        <ion-card class="card_tran">
                                <ion-item  >  
                                   <div class="texc">
                                      <h2   class="balance">{{account.balance | number: '.3'}} {{account.tokenThreeSym}}</h2>
                                      <p class="colo  baltxt1">1 {{account.tokenThreeSym}} = {{ 1 / todayPrice.KRW | number: '.3'}} USD</p>
                                   </div>
                                        
                                        <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                    </ion-item>
                        </ion-card>
                        <ion-card class="card_tran">
                                <ion-item >
                                    <div class="texc">
                                        <h2 class="balance qr_textitem">{{ account.balance / todayPrice.KRW | number: '.3' }} USD</h2>
                                        </div>
                                    </ion-item>
                        </ion-card>
                        
                
                    </ion-list>
                    <ion-list *ngIf="selectedCur == 'tokenFour'">
                            <ion-card class="card_tran">
                                    <ion-item  >  
                                       <div class="texc">
                                          <h2   class="balance">{{account.balance | number: '.3'}} {{account.tokenFourSym}}</h2>
                                          <p class="colo  baltxt1">1 {{account.tokenFourSym}} = {{ 1 / todayPrice.USD | number: '.3'}} USD</p>
                                       </div>
                                            
                                            <!-- <button ion-button clear (click)='openSingleNotification()' item-end>View</button> -->
                                        </ion-item>
                            </ion-card>
                            <ion-card class="card_tran">
                                    <ion-item >
                                        <div class="texc">
                                            <h2 class="balance qr_textitem">{{ account.balance / todayPrice.USD | number: '.3' }} USD</h2>
                                            </div>
                                        </ion-item>
                            </ion-card>
                            
                    
                        </ion-list>
        </div>

  </ion-content>
  

  